@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
    font-size: 16px;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}
.placeholder-custom::placeholder {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.6px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

.swiperCustom .swiper-button-prev {
  position: absolute;
  left: 181px;
  top: 322px;
  background-image: url("/VectorOur.svg");
  transform: rotate(180deg);
  background-repeat: no-repeat;
}

.swiperCustom .swiper-button-next {
  position: absolute;
  right: 181px;
  top: 335px;
  background-image: url("/VectorOur.svg") !important ;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}

.leaflet-container {
  height: 100% !important;
  overflow: visible !important;
}
